*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  margin-right: 0 !important;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  color: $font-color;
  font-family: $font-family;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: $bg-color;
}

a {
  text-decoration: none;
  color: $yellow;
  transition: $transition;
  &:hover {
    color: $blue;
    text-decoration: none;
    transition: $transition;
  }
}
.content-box {
  padding: 0 40px;
  p,
  ul {
    margin-bottom: 25px;
  }
  ol {
    padding-left: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 700;
  color: $font-color;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5,
h6 {
  font-size: 18px;
}
.yellow-text {
  color: $yellow;
}

.title-block {
  background-color: $blue;
  padding: 50px 40px;
  display: flex;
  align-items: center;
  min-height: 224px;
  h1 {
    color: $yellow;
    margin: 8px 0;
  }
}
.yellow-wrapper {
  background-color: $yellow;
  padding: 70px 40px;
  h1,
  h2,
  h3 {
    color: $blue;
  }
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  li {
    position: relative;
    padding-left: 15px;
    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: $yellow;
      left: 0;
      top: 12px;
    }
  }
}

.grid-half-column {
  padding: 80px 40px 60px;
  .column-icon {
    padding-right: 80px;
  }
}

.column-icon--vertical {
  align-items: start;
  img {
    align-self: end;
  }
  h3 {
    color: $blue;
    font-size: 32px;
    margin-bottom: 15px;
  }
}

.column-icon--aside {
  display: flex;
  flex-wrap: nowrap;
  .column-icon-picture,
  img {
    width: 71px;
  }
  .column-icon-desc {
    padding-left: 43px;
  }
  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: $blue;
  }
  li {
    margin-bottom: 5px;
  }
}

.playground-svg-wrapper {
  h1 {
    display: none;
  }
  .image--filtered {
    height: auto;
  }
  .title-svg {
    text-anchor: start;
    fill: $yellow;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 700;
    transform: translate(11px, 0);
  }
}

.column-img {
  display: flex;
  flex-direction: column;
  .img-box {
    height: 331px;
    overflow: hidden;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 0;
  }
}


@media (max-width: 1439px) {
  .title-block {
    padding: 15px 20px;
  }
  .yellow-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-box {
    padding: 0 20px;
  }
  .grid-half-column {
    padding: 80px 20px 20px;
    .column-icon {
      padding-right: 0;
    }
  }
  .playground-svg-wrapper {
    .title-svg {
      font-size: 18px;
      transform: translate(8px, 0);
    }
  }
  .column-icon--vertical {
    img {
      align-self: start;
    }
  }
  .column-img {
    .img-box {
      height: auto;
    }
    h3 {
      font-size: 20px;
    }
  }
}
@media (max-width: 1023px) {
  .playground-svg-wrapper {
    .title-svg {
      font-size: 24px;
      transform: translate(11px, 0);
    }
  }
  .yellow-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .grid-half-column {
    padding: 60px 20px 20px;
  }
  .column-img {
    .img-box {
      height: 267px;
    }
    img {
      height: 100%;
    }
  }
  .column-icon--aside {
    flex-direction: column;
    .column-icon-desc {
      padding-left: 0;
    }
    img {
      width: 60px;
    }
    li {
      margin-bottom: 10px;
    }
  } 
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
    line-height: 1.6;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4,
  h5,
  h6  {
    font-size: 16px;
  }
  .content-box {
    padding: 0 10px;
  }
  .title-block {
    padding: 15px 10px;
    min-height: 116px;
    align-items: center;
  }
  .yellow-wrapper {
    padding: 50px 10px;
  }
  ul {
    li {
      padding-left: 10px;
      &:after {
        width: 5px;
        height: 5px;
        top: 10px;
      }
    }
  }
  .grid-half-column {
    padding: 50px 10px 20px;
  }
  .column-icon--vertical {
    h3 {
      font-size: 24px;
    }
    img {
      max-width: 121px;
    }
  } 
  .playground-svg-wrapper {
    svg {
      height: 116px;
    }
    .title-svg {
      font-size: 36px;
    }
  }
  .column-img {
    .img-box {
      height: auto;
    }
    img {
      height: auto;
    }
    h3 {
      font-size: 12px;
    }
  } 
}
