.contacts-page {
  .title-block {
    min-height: 360px;
  }
  .title-block-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  h1 {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 40px;
  }
  .adress-column,
  .phone-column,
  .mail-column {
    padding-right: 20px;
  }
  .adress-column {
    width: 41.6%;
    flex-basis: 41.6%;
    color: #fff;
    p {
      width: 72%;
    }
  }
  .phone-column,
  .mail-column {
    width: 25%;
    flex-basis: 25%;
    text-align: left;
    a:hover {
      color: #fff;
    }
  }
}