footer {
	padding: 50px 40px;
  background-color: $dark-blue;
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
  a:hover {
    color: #fff;
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone-column,
.mail-column,
.privacy-column {
  text-align: center;
}
.copyright {
  opacity: 0.7;
}

@media(max-width:991px){
  // footer {
  //   padding: 30px 15px;
  // }
}

@media(max-width:1399px){
}