.grid {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: [main-start] repeat(12, [col-start] minmax(80px, 1fr)) [main-end];
}
.grid-page {
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas:
            "header"
            "main"
            "footer";
  grid-template-rows: 96px minmax(calc(100vh - 269px), max-content) 173px;
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
}
.logo-column {
  grid-column: col-start 1/span 2;
}
.nav-column {
  grid-column: col-start 3/span 6;
}
.lang-column {
  grid-column: col-start 9/span 1;
}
.contact-column {
  grid-column: col-start 10/span 3;
}
.title-block,
.content-box,
.footer-content {
  grid-column: col-start 1/span 12;
}
.column-full {
  width: 100%;
  flex-basis: 100%;
}
.column-half {
  width: 50%;
  flex-basis: 50%;
}
.column-third {
  width: 33.3%;
  flex-basis: 33.3%;
}
.column-fourth {
  width: 25%;
  flex-basis: 25%;
}

@media (max-width: 1023px) {
  .grid {
    grid-template-columns: [main-start] repeat(2, [col-start] minmax(140px, 1fr)) [main-end];
  }
  .grid-page {
    grid-template-rows: 72px minmax(calc(100vh - 72px), max-content) 255px;
  }
  .column-xs-full {
    width: 100%;
    flex-basis: 100%;
  }
  .logo-column {
    grid-column: col-start 1/span 1;
  }
  .lang-column {
    grid-column: col-start 2/span 1;
  }
  .title-block,
  .content-box,
  .footer-content {
    grid-column: col-start 1/span 2;
  }
  
}

@media (max-width: 1399px) {
  // .grid {
  //   grid-template-columns: [main-start] repeat(8, [col-start] minmax(80px, 1fr)) [main-end];
  // }
  // .grid-header {
  //   grid-template-columns: [main-start] repeat(9, [col-start] minmax(80px, 1fr)) [main-end];
  // }
  // .content-box--full {
  //   grid-column: col-start 2/span 6;
  // }
}
