.grid {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: [main-start] repeat(12, [col-start] minmax(80px, 1fr)) [main-end];
}
.grid-half-column {
  grid-column: col-start 1/span 12;
  grid-template-areas: "column column";
  grid-template-rows: auto;
  grid-row-gap: 70px;
  .column-icon {
    grid-area: column;
    grid-row: auto;
    grid-column: auto/span 6;
  }
}
.grid-third-column {
  grid-column: col-start 1/span 12;
  grid-template-areas: "column column column";
  grid-template-rows: auto;
  grid-row-gap: 55px;
  .column {
    grid-area: column;
    grid-column: auto/span 4;
    grid-row: auto;
  }
}
.grid-fourth-column {
  grid-column: col-start 1/span 12;
  grid-template-areas: "column column column column";
  grid-template-rows: auto;
  grid-row-gap: 20px;
  .column {
    grid-area: column;
    grid-column: auto/span 3;
    grid-row: auto;
  }
}
.grid-page {
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas:
            "header"
            "main"
            "footer";
  grid-template-rows: 96px minmax(calc(100vh - 269px), max-content) 173px;
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
}
.logo-column {
  grid-column: col-start 1/span 2;
}
.nav-column {
  grid-column: col-start 3/span 6;
}
.lang-column {
  grid-column: col-start 9/span 1;
}
.contact-column {
  grid-column: col-start 10/span 3;
}
.title-block,
.content-box,
.footer-content,
.title-block--svg {
  grid-column: col-start 1/span 12;
}
.column-full {
  width: 100%;
  flex-basis: 100%;
}
.column-half {
  width: 50%;
  flex-basis: 50%;
}
.column-third {
  width: 33.3%;
  flex-basis: 33.3%;
}
.column-fourth {
  width: 25%;
  flex-basis: 25%;
}
.error-page {
  .content-box {
    grid-column: col-start 5/span 4;
  }
}
.news-grid {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: [main-start] repeat(12, [col-start] minmax(auto, 1fr)) [main-end];
  grid-template-rows: auto;
  grid-template-areas:
        "news_1 news_2"
        "news_1 news_3";
  .news-column {
    grid-row: auto;
    grid-column: auto/span 6;
    &:first-of-type {
      grid-area: news_1;
      grid-column: col-start 1/span 5;
    }
    &:nth-child(2) {
      grid-area: news_2;
      grid-column: col-start 6/span 7;
    }
    &:nth-child(3) {
      grid-area: news_3;
      grid-column: col-start 6/span 7;
    }
  }
}
.pagination {
  grid-column: col-start 1/span 12;
  grid-row: auto;
}
.news-single-page {
  .content-box {
    grid-column: col-start 1/span 12;
  }
  .content-column {
    grid-column: col-start 1/span 6;
  }
  .news-more-column {
    grid-column: col-start 9/span 4;
  }
}
.map-box,
.form-wrapper,
.counter-wrapper,
.about-wrapper,
.advantage-wrapper,
.product-wrapper,
.news-wrapper,
.providers-wrapper,
.contacts-wrapper {
  grid-column: col-start 1/span 12;
}
.form-wrapper {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: [main-start] repeat(12, [col-start] minmax(80px, 1fr)) [main-end];
}
.form-content,
.contacts-column {
  grid-column: col-start 1/span 5;
}
.form-box {
  grid-column: col-start 6/span 7;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: [main-start] repeat(7, [col-start] minmax(auto, 1fr)) [main-end];
  form {
    grid-column: col-start 2/span 5;
  }
}
.contacts-wrapper {
  column-gap: 0;
  .map-box {
    grid-column: col-start 6/span 7;
  }
}
.column-icon--vertical {
  display: grid;
  grid-template-rows: 80px auto 1fr;
  img {
    grid-row: 1;
  }
  h3 {
    grid-row: 2;
  }
  p {
    grid-row: 3;
  }
}
.about-wrapper {
  .info-column {
    grid-column: col-start 1/span 6;
  }
  .img-column {
    grid-column: col-start 8/span 4;
  }
}
.counter-column,
.product-column {
  grid-column: auto/span 4;
}
.product-wrapper {
  .grid-third-column {
    grid-row-gap: 25px;
  }
}
.providers-wrapper {
  .providers-img {
    display: grid;
  }
  img {
    grid-column: auto/span 4;
  }
}

@media (min-width: 1860px) {
  .grid-xl-fourth-column {
    grid-template-areas: "column column column column";
    .column-icon {
      grid-column: auto/span 3;
    }
  }
  .contacts-column {
    grid-column: col-start 1/span 4;
  }
  .contacts-wrapper .map-box {
    grid-column: col-start 5/span 8;
  }
  .form-content {
    grid-column: col-start 1/span 6;
  }
  .form-box {
    grid-column: col-start 7/span 5;
  }
}

@media (max-width: 1439px) {
  .grid,
  .form-wrapper {
    grid-template-columns: [main-start] repeat(12, [col-start] minmax(auto, 1fr)) [main-end];
  }
  .grid-header {
    grid-auto-flow: row;
    grid-template-rows: auto;
  }
  .nav-column {
    grid-column: col-start 3/span 9;
  }
  .lang-column {
    grid-column: col-start 12/span 1;
  }
  .column-md-8 {
    width: 66.6%;
    flex-basis: 66.6%;
  }
  .column-md-7 {
    width: 58.3%;
    flex-basis: 58.3%;
  }
  .column-md-full {
    width: 100%;
    flex-basis: 100%;
  }
  .form-box {
    grid-template-columns: [main-start] repeat(7, [col-start] minmax(auto, 1fr)) [main-end];
    form {
      grid-column: col-start 1/span 7;
    }
  }
  .column-icon--vertical {
    grid-template-rows: auto;
  }
  .grid-half-column {
    grid-template-areas: "column";
    .column-icon--vertical {
      grid-column: col-start 1/span 7;
    }
  }
  .services-page {
    .grid-half-column {
      grid-template-areas: "column";
    }
    .column-icon {
      grid-column: auto/span 8;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .grid-page {
    grid-template-rows: 88px minmax(calc(100vh - 283px), max-content) 195px;
  }
  header {
    .logo-column,
    .nav-column,
    .lang-column {
      grid-row: 2;
    }
    .contact-column {
      grid-row: 1;
      grid-column: col-start 1/span 12;
    }
  }
}

@media (max-width: 1023px) {
  .grid {
    grid-template-columns: [main-start] repeat(6, [col-start] minmax(80px, 1fr)) [main-end];
  }
  .footer-content {
    grid-template-columns: [main-start] repeat(6, [col-start] minmax(80px, 1fr)) [main-end];
    grid-template-rows: auto;
    .phone-column,
    .mail-column,
    .privacy-column {
      grid-row: 2;
    }
    .social-column {
      grid-row: 3;
    }
    .adress-column {
      grid-column: col-start 1/span 3;
    }
    .phone-column {
      grid-column: col-start 1/span 2;
    }
    .mail-column {
      grid-column: col-start 3/span 2;
    }
    .privacy-column {
      grid-column: col-start 5/span 2;
    }
    .social-column {
      grid-column: col-start 1/span 6;
    }
  }
  .logo-column,
  .lang-column,
  .nav-column,
  .adress-column {
    grid-row: 1;
  }
  .grid-page {
    grid-template-rows: 72px minmax(calc(100vh - 72px), max-content) 217px;
  }
  .logo-column {
    grid-column: col-start 1/span 2;
  }
  .lang-column {
    grid-column: col-start 5/span 1;
  }
  .nav-column {
    grid-column: col-start 6/span 1;
  }
  .title-block,
  .footer-content,
  .map-box, 
  .form-wrapper,
  .form-box,
  .form-box form,
  .title-block--svg,
  .grid-half-column,
  .about-wrapper,
  .product-wrapper,
  .product-wrapper .grid,
  .advantage-wrapper,
  .counter-wrapper,
  .providers-wrapper,
  .news-wrapper,
  .contacts-wrapper,
  .contacts-column,
  .contacts-wrapper .map-box,
  .news-single-page .content-column,
  .news-single-page .news-more-column {
    grid-column: col-start 1/span 6;
  }
  .form-content,
  .product-page .content-box,
  .about-wrapper .info-column,
  .about-wrapper .img-column {
    grid-column: col-start 1/span 4;
  }
  .content-box {
    grid-column: col-start 1/span 5;
  }
  .column-sm-full {
    width: 100%;
    flex-basis: 100%;
  }
  .column-sm-half  {
    width: 50%;
    flex-basis: 50%;
  }
  .error-page {
    .content-box {
      grid-column: col-start 2/span 4;
    }
  }
  .news-grid {
    grid-column: col-start 1/span 6;
    grid-template-columns: 1fr;
    grid-template-areas:
        "news_1"
        "news_2"
        "news_3";
    .news-column {
      grid-column: 1;
      &:first-of-type {
        grid-column: 1;
      }
      &:nth-child(2) {
        grid-column: 1;
      }
      &:nth-child(3) {
        grid-column: 1;
      }
    }
  }
  .pagination {
    grid-column: 1;
  }
  .news-single-page {
    .content-box {
      grid-column: col-start 1/span 6;
    }
  }
  .form-wrapper,
  .form-box {
    grid-template-columns: [main-start] repeat(6, [col-start] minmax(auto, 1fr)) [main-end];
  }
  .grid-half-column {
    .column-icon--vertical {
      grid-column: col-start 1/span 4;
    }
  }
  .grid-half-column {
    .column-icon--aside {
      grid-column: auto/span 3;
    }
  }
  .grid-sm-half-column,
  .content-box.grid-sm-half-column {
    grid-column: col-start 1/span 6;
    grid-template-areas: "column column";
    grid-row-gap: 50px;
    .column {
      grid-area: column;
      grid-column: auto/span 3;
      grid-row: auto;
    }
  }
  .services-page {
    .column-icon--aside {
      grid-column: col-start 1/span 4;
    }
    .content-box {
      grid-column: col-start 1/span 6;
    }
  }
  .counter-column,
  .providers-wrapper img {
    grid-column: auto/span 2;
  }
  .product-column {
    grid-column: auto/span 3;
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: [main-start] repeat(2, [col-start] minmax(140px, 1fr)) [main-end];
    &.grid-header {
      grid-template-columns: [main-start] repeat(3, [col-start] minmax(70px, 1fr)) [main-end];
    }
  }
  .grid-page {
    grid-template-rows: 72px minmax(calc(100vh - 72px), max-content) 255px;
  }
  .lang-column {
    grid-column: col-start 3/span 1;
  }
  .nav-column {
    grid-column: col-start 3/span 1;
  }
  .title-block,
  .content-box,
  .footer-content,
  .title-block--svg,
  .product-page .content-box,
  .services-page .content-box,
  .about-wrapper,
  .about-wrapper .info-column,
  .about-wrapper .img-column,
  .counter-wrapper,
  .counter-column, 
  .product-column,
  .advantage-wrapper,
  .product-wrapper,
  .news-single-page .content-column,
  .news-single-page .news-more-column {
    grid-column: col-start 1/span 2;
  }
  .column-xs-full {
    width: 100%;
    flex-basis: 100%;
  }
  .column-xs-half  {
    width: 50%;
    flex-basis: 50%;
  }
  .error-page {
    .content-box {
      grid-column: col-start 1/span 2;
    }
  }
  .news-grid {
    .news-column {
      flex-direction: column;
    }
    .news-img, 
    .news-content {
      width: 100%;
      flex-basis: 100%;
    }
  }
  .news-single-page .content-box,
  .map-box,
  .form-wrapper,
  .form-content,
  .form-box,
  .form-box form,
  .grid-half-column,
  .grid-half-column .column-icon,
  .product-wrapper .grid,
  .providers-wrapper, 
  .contacts-wrapper,
  .providers-wrapper img,
  .news-wrapper,
  .contacts-column,
  .contacts-wrapper .map-box   {
    grid-column: col-start 1/span 2;
  }
  .form-wrapper,
  .form-box {
    grid-template-columns: [main-start] repeat(2, [col-start] minmax(auto, 1fr)) [main-end];
  }
  .grid-half-column {
    grid-row-gap: 55px;
  }
  .grid-xs-half-column,
  .content-box.grid-xs-half-column {
    grid-row-gap: 30px;
    .column {
      grid-column: auto/span 1;
    }
  }
  .grid-xs-half-column {
    grid-template-areas: "column column";
  }
  .product-wrapper {
    .grid {
      grid-template-areas: "column";
      grid-row-gap: 16px;
    }
  }
}
