.product-page {
  .content-box {
    padding-top: 60px;
  }
  main li {
    margin-bottom: 15px;
  }
  .grid-half-column {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .column-product-img {
    img {
      max-width: 100%;
    }
  }
  .gallery-block-title {
    .grid {
      padding-bottom: 50px;
    }
  }
}

@media (min-width: 1860px) {
  .product-page {
    .content-box {
      padding-top: 80px;
    }
    .form-wrapper {
      padding-top: 120px;
    }
  }
}

@media (max-width: 767px) {
  .product-page {
    .title-svg {
      font-size: 32px;
    }
    .title-block--svg + .content-box {
      padding-top: 35px;
    }
  }
}